:root,
body,
* {
  --bg: #FFF;
  --bg-one: #003552;
  --text: #333;
  --text-one: #FFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

}

nav {
  background-color: var(--bg-one);
  overflow: hidden;
  color: var(--text-one);
}

nav h1 {
  display: inline-block;
  font-size: 1.25rem;
  padding: 14px 16px;
}

nav a {
  float: right;
  display: block;
  color: var(--text-one);
  text-decoration: none;
}

nav a:hover {
  background-color: var(--bg);
  color: var(--text);
}

nav ul {
  float: right;
  padding: 14px 16px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
}

nav input {
  width: 300px;
  height: 2rem;
}

.movie-card a {
  color: var(--text);
  text-decoration: none;
}

.movie-card h6 {
  margin: 0 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-details {
  width: 95vw;
  max-width: 1080px;
  margin: 0 1em;
}

.title {
  color: var(--bg-one);
}

.date {
  font-size: 0.8em;
}

.overview {
  font-size: 1.1em;
}

.row {
  height: 30px;
}

.pagination {
  margin: 10px auto;
  list-style-type: none;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 3px;
  padding: 10px 12px;
  border: 1px solid var(--bg-one);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 800;
}

.pagination a {
  text-decoration: none;
  color: var(--text);
}

.pagination li:hover,
.pagination li.active {
  color: var(--text-one);
}

.pagination li:hover,
.pagination li.active {
  background-color: var(--bg-one);
}

.pagination .mute,
.pagination .mute:hover {
  background-color: #FFF;
  border: 1px solid #CCC;
  color: #CCC;
}

.button {
  margin: 0.75em 0;
}

.button a {
  color: var(--bg-one);
  font-weight: 800;
  text-decoration: none;
}

/*  Screens smaller than 600px  */
@media only screen and (max-width: 600px) {

  nav a:not(:first-child) {
    display: none;
  }

  nav li.icon {
    float: right;
    display: block;
  }

  /*.grid {*/
  /*  display: grid;*/
  /*  width: 100vw;*/
  /*  background-color: #003552;*/
  /*}*/

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .movie-card {
    flex: 1;
    width: 100vw;
    height: 90px;
    padding: 0.45em 1em;
    border-bottom: 0.5px solid var(--text);
  }

  .movie-card:last-child {
    border-bottom: 0;
  }

  .movie-card-img {
    width: 50px;
    height: 75px;
    float: left;
    margin-right: 1em;
  }

  .movie-card-img img {
    width: 50px;
    height: 75px;
  }

}

@media only screen and (min-width: 601px) {
  nav .icon {
    display: none;
  }

  .grid {
  display: grid;
  height: 100vh;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

  .results {
    margin: 30px 0;
    z-index: 1;
    max-width: 1080px;
  }

  .movie-card {
    width: 200px;
    height: 370px;
    margin: 5px 5px;
    background-color: var(--bg);
    border: 1px solid var(--text);
    border-radius: 16px;
    overflow: hidden;
  }

  .movie-card-img {
    width: 200px;
    height: 300px;
    align-content: center;
  }

  .movie-card-img img {
    height: 300px;
  }
}